{{#if admin}}
    {{#if messages.alert}}
        <p class="alert alert-danger">{{messages.alert}}</p>
    {{/if}}
    {{#if messages.success}}
        <p class="alert alert-success">{{messages.success}}</p>
    {{/if}}
    <a class="btn btn-success pull-right" href="/make-payment">make payment</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <th>Teacher</th>
                <th>For month</th>
                <th>Amount</th>
                <th>Date paid</th>
                <th>Payment status</th>
                <th>&nbsp;</th>
                <tbody>
                    {{#each result}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{month}}</td>
                            <td>R{{amount}}</td>
                            <td>{{payment_date}}</td>
                            <td>{{status}}</td>
                            <td class="text-center">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      Actions <span class="caret"></span>
                                  </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="btn btn-warning form-control" href="/edit/{{id}}">Edit</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <form class="" action="/delete/{{id}}" method="post">
                                                <button type="submit" class="btn btn-danger form-control">Delete</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </thead>
        </table>
    </div>
{{/if}}
